.DS_Store
/doom/config.el
/github-copilot/
/raycast/
/emacs/

*/fish_variables
/containers/
/direnv/
/doom/custom.el
/fish/completions/
/fish/functions/
fish/fish_variables
/zed/
fish_variables
/1Password/
/doom/*.org
/fish/conf.d/
/fish/fish_plugins
/gh/
/mozilla/
fish/fish_variables
